openapi: 3.1.0
info:
  title: VeriWorkly API
  version: 1.0.0
  description: |
    The official API reference for VeriWorkly.

    ### Authentication Methods

    VeriWorkly supports two primary authentication methods:

    #### 1. API Key Authentication (Recommended for API Docs & Scripts)
    For programmatic access, use the `X-API-Key` header. This is **required** for all requests made from these documentation pages and external integrations.

    - **Header**: `X-API-Key`
    - **Rate Limit**: 20 requests per 15 minutes (default).

    #### 2. Session Authentication (Dashboard only)
    Used internally by the VeriWorkly dashboard and resume builder. This method uses secure HTTP-only cookies.

    - **Cookies**: 
      - Local: `veriworkly-auth.session_token`
      - Production: `__Secure-veriworkly-auth.session_token`
    - **Note**: This method is only allowed for whitelisted domains (e.g., veriworkly.com). Requests from documentation pages **must** use an API Key.

servers:
  - url: https://api.veriworkly.com
    description: Production Server
  - url: http://localhost:8080
    description: Local Development

tags:
  - name: Health
    description: Service health and readiness checks.
  - name: Users
    description: Operations related to authenticated users.
  - name: Roadmap
    description: Operations related to roadmap.
  - name: GitHub
    description: GitHub issues, pull requests, and repository statistics.
  - name: Authentication
    description: Authentication operations using email OTP and sessions.
  - name: API Keys
    description: Operations related to managing personal API keys.

paths:
  /api/v1/health:
    $ref: "./paths/health.yaml#/healthCheck"

  /api/v1/users/me:
    $ref: "./paths/users.yaml#/getCurrentUser"
  /api/v1/users/me/name:
    $ref: "./paths/users.yaml#/updateUserName"

  /api/v1/roadmap:
    $ref: "./paths/roadmap.yaml#/getRoadmap"
  /api/v1/roadmap/stats:
    $ref: "./paths/roadmap.yaml#/getRoadmapStats"
  /api/v1/roadmap/{id}:
    $ref: "./paths/roadmap.yaml#/getRoadmapFeatureById"

  /api/v1/github/stats:
    $ref: "./paths/github.yaml#/getGitHubStats"
  /api/v1/github/issues:
    $ref: "./paths/github.yaml#/getGitHubIssues"
  /api/v1/github/admin/sync:
    $ref: "./paths/github.yaml#/syncGitHubStats"

  /api/v1/auth/email-otp/send-otp:
    $ref: "./paths/auth.yaml#/sendOtp"
  /api/v1/auth/email-otp/verify-otp:
    $ref: "./paths/auth.yaml#/verifyOtp"
  /api/v1/auth/get-session:
    $ref: "./paths/auth.yaml#/getSession"
  /api/v1/auth/sign-out:
    $ref: "./paths/auth.yaml#/signOut"

  /api/v1/api-keys:
    $ref: "./paths/api-keys.yaml#/apiKeyCollection"
  /api/v1/api-keys/{id}/rotate:
    $ref: "./paths/api-keys.yaml#/apiKeyRotate"
  /api/v1/api-keys/{id}/revoke:
    $ref: "./paths/api-keys.yaml#/apiKeyRevoke"
  /api/v1/api-keys/{id}:
    $ref: "./paths/api-keys.yaml#/apiKeyItem"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Your personal API key.
    LocalSession:
      type: apiKey
      in: cookie
      name: veriworkly-auth.session_token
      description: Internal session cookie for local development.
    ProdSession:
      type: apiKey
      in: cookie
      name: __Secure-veriworkly-auth.session_token
      description: Internal session cookie for production.

  schemas:
    $ref: "./components/schemas.yaml"
  responses:
    $ref: "./components/responses.yaml"
